<form action='/tweets' method='POST'>
<<<<<<< HEAD
  Content:<input type='text' name='content'>
  Submit:<input type='submit' name='submit' id='submit'>
=======
  <input type='text' name='content'><br>
  <input type='submit' name='submit' id='submit'>
>>>>>>> 6426855a8fa63c26f348d540a9a4abeb66d7ec7e
</form>
