<h1>Welcome, <%= current_user.username %></h1>
<<<<<<< HEAD
<% @tweets.each do |t| %><div><%= t.content %></div><% end %>
=======
<% @tweets.each do |tweet| %>
  <div><%= tweet.content %></div>
<% end %>
>>>>>>> 6426855a8fa63c26f348d540a9a4abeb66d7ec7e
